## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
entero = 6
print(entero)

6

2) Imprimir el tipo de dato de la constante 8.5

In [3]:
dato = 8.5
print(type(dato))

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [4]:
print(type(entero))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [5]:
nombre = "Francisco"

5) Crear una variable que contenga un número complejo

In [7]:
numComplejo = 3 + 5j

6) Mostrar el tipo de dato de la variable creada en el punto 5

In [9]:
print(type(numComplejo))

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [13]:
import math

numpi = round(math.pi, 4)
numpi

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [18]:
var1 = 'True'
var2 = True

print(var1 == var2)

False
La variable 'var1' es de tipo: <class 'str'>
La variable 'var2' es de tipo: <class 'bool'>

Respuesta: Es falso ya que uno de las variables esta entre comillas lo que quiere decir que es una variable de tipo String, mientras que la otra variable es de tipo Booleana.

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [19]:
print("La variable 'var1' es de tipo: " + str(type(var1)))
print("La variable 'var2' es de tipo: " + str(type(var2)))

La variable 'var1' es de tipo: <class 'str'>
La variable 'var2' es de tipo: <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [21]:
suma = 8 + 12.4
suma

20.4

11) Realizar una operación de suma de números complejos

In [22]:
numC1 = 3 + 2j
numC2 = 5 - 7j

numC1 + numC2

(8-5j)

12) Realizar una operación de suma de un número real y otro complejo

In [23]:
numeroReal = 5
numeroComplejo = 5 + 9j

numeroReal + numeroComplejo

(10+9j)

13) Realizar una operación de multiplicación

In [24]:
9*8

72

14) Mostrar el resultado de elevar 2 a la octava potencia

In [25]:
2**8

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [26]:
cociente = 27/4
print(cociente)

6.75

16) De la división anterior solamente mostrar la parte entera

In [29]:
cociente2 = 27//4
print("Cociente en parte entera de la primera forma: " + str(cociente2))
print("Cociente en parte entera de la segunda forma: " + str(int(cociente)))

Cociente en parte entera de la primera forma: 6
Cociente en parte entera de la segunda forma: 6

17) De la división de 27 entre 4 mostrar solamente el resto

In [31]:
residuo = 27%4
print(residuo)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [32]:
resultado = cociente2 * 4 + residuo
print(resultado)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [33]:
num1 = 10
num2 = 20

num1 + num2

30

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [34]:
"2" == 2

False

Respuesta: Esto es falso porque uno de los valores esta entre comillas dobles, lo que quiere decir que es un valor de tipo string, mientras que el otro valor es de tipo entero.

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [35]:
int("2") == 2

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [37]:
a = float('3,8')

ValueError: could not convert string to float: '3,8'

Respuesta: Esta linea arroja error porque no se puede transformar una variable o valor de tipo String que tenga coma entre sus caracteres una coma en una variable de tipo Float. Si se cambia la coma por un punto esto si sera posible.

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [38]:
var3 = 3
var3 -= 1
var3

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [41]:
1 << 2

4

Respuesta: El operador << desplaza los bits del número a la izquierda y los campos desplazados son rellenados con ceros. El sistema de numeración binario es un sistema compuesto por solo dos números, 0 y 1, mientras que el sistema de numeración decimal tiene 10 números que van desde el 0 hasta el 9. El sistema de numeración binario es utilizado en todos los sistemas electronicos.

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [44]:
2 + '2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Respuesta: La operación no se puede realizar ya que el primer valor es de tipo entero y el segundo valor es de tipo String y como se sabe no se puede sumar un entero con un string, por lo tanto se tendría que pasar uno de los valores al tipo del otro valor.

Si los dos operandos fueran del mismo tipo de variable no se llegaría a un error, ya que si los dos fueran enteros se realizaria la suma y el resultado sería 4 y si ambos valores fueran de tipo String el resultado sería 22

26) Realizar una operación válida entre valores de tipo entero y string

In [47]:
# Algunas de las operaciones que se pueden hacer entre valores de tipo entero.
suma2 = 2 + 3
resta = 2 - 3
multiplicacion = 2 * 3
division = 2 / 3

# Operaciones que se pueden hacer entre valores de tipo String.
concatenacion = "Arroz " + "con " + 'leche'
multiplicacionSTR = 'Hola ' * 5

print(suma2)
print(resta)
print(multiplicacion)
print(division)
print(concatenacion)
print(multiplicacionSTR)

5
-1
6
0.6666666666666666
Arroz con leche
Hola Hola Hola Hola Hola